.form-calculator-minmax {
    background-color: #C7AE83;
}

.card-img-top{
    width: 500px;
    height: 350px;
    padding: 10px 10px 10px 10px;
    border-radius: 40%;
    box-shadow: 5px 1px 1px #f2e2e3 ;
}


.marginItems {
    margin-top: 5%;
}


.botonDetalle{  
    display: block;
    outline: none;
    border: 1px solid #C7AE83;
    background-color: #fff;
    border-radius: 6px;
    color: #C7AE83;
    cursor: pointer;
    margin: 100px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
}

.botonDetalle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border: 1px solid;
    background-image: linear-gradient(to rigth, #e9b357, #C7AE83);
    transition: all .25s;
    z-index: -1;
    text-decoration: none; }

.botonDetalle:hover {
    border: 1px solid transparent;
    color: #C7AE83;
    text-decoration: none; }

.botonDetalle:before {
    height: 100%;
    text-decoration: none; 
}


.stock--color {
    border: 1px solid #C7AE83;
    background-color: #fff;
    margin-top:40px;
}

.bg--footer {
    margin-top: 50px;
    padding: 30px 10px 10px 10px;
    text-align: center; 
}

.rowSinMargin {
    text-align: center;
    margin: 0%; }

.colorFooter{
    background-color: #f2e2e3;
}

.precio--color{
    border: 1px solid #C7AE83;
    background-color: #fff;
    margin-top:40px;
    font-weight: bold;
    text-transform: uppercase;

}

.cardProduct {
    margin: 10% 10% 10% 10%;
}


/* Navbar */


.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2e2e3;
    width: 100%;
    height: 110px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

.LinkNav {
    margin: 15px;
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
}

.LinkNav:hover {
    color: #C7AE83;
}

.logoNav {
    width: 80px;
    height: 80px;
    margin-left: 15%;
}



.cartWidget {
    margin-left: 20%;
    margin-bottom: 5%;
    text-decoration: none;
    color: #000;
    width: 35px;
    height: 35px;

}

.cartWidget:hover{
    color: #C7AE83;
}


/* Nosotros */

.backColor {
    background-color: #f2e2e3;
    margin-top: 0%;

}
.nosotros__logo {
    margin-left: 35%;
}

.nosotros-info {
    padding: 30px 40px 30px 30px;
    font-size: 2rem;
}

.nosotros-info > h1 {
    color: #C7AE83;
}


.item-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.justify-content-center {
    display: flex;
    flex-wrap: wrap;
}


/* Footer */


.footer--bottom {
    margin-bottom: 0%;
}


/* Productos */

.cardProduct {
    width: 100%;
}


.item__count{
    margin-left: 10px;
}